<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Wydobywanie-pożądanych-cechy-do-zastosowania-w-procesie-segmentacji-wyszukania-grup-podobnych-wydarzeń" data-toc-modified-id="Wydobywanie-pożądanych-cechy-do-zastosowania-w-procesie-segmentacji-wyszukania-grup-podobnych-wydarzeń-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Wydobywanie pożądanych cechy do zastosowania w procesie segmentacji wyszukania grup podobnych wydarzeń</a></span><ul class="toc-item"><li><span><a href="#E.-Drugi-obieg-biletów-–-analiza-dostępności-biletów-w-drugim-obiegu-i-korelacja-cen-wyjściowych-do-wartości-biletów-w-drugim-obiegu" data-toc-modified-id="E.-Drugi-obieg-biletów-–-analiza-dostępności-biletów-w-drugim-obiegu-i-korelacja-cen-wyjściowych-do-wartości-biletów-w-drugim-obiegu-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>E. Drugi obieg biletów – analiza dostępności biletów w drugim obiegu i korelacja cen wyjściowych do wartości biletów w drugim obiegu</a></span><ul class="toc-item"><li><span><a href="#Analiza-wartościowa-eventów-oraz-dostępności-biletów-wraz-z-analizą-porównawczą-dla-eventów-wyprzedanych-z-podziałem-na:" data-toc-modified-id="Analiza-wartościowa-eventów-oraz-dostępności-biletów-wraz-z-analizą-porównawczą-dla-eventów-wyprzedanych-z-podziałem-na:-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Analiza wartościowa eventów oraz dostępności biletów wraz z analizą porównawczą dla eventów wyprzedanych z podziałem na:</a></span><ul class="toc-item"><li><span><a href="#Wartość-wydarzenia" data-toc-modified-id="Wartość-wydarzenia-1.1.1.1"><span class="toc-item-num">1.1.1.1&nbsp;&nbsp;</span>Wartość wydarzenia</a></span></li><li><span><a href="#Dostępność-sektorów" data-toc-modified-id="Dostępność-sektorów-1.1.1.2"><span class="toc-item-num">1.1.1.2&nbsp;&nbsp;</span>Dostępność sektorów</a></span></li><li><span><a href="#Data-organizacji-wydarzenia" data-toc-modified-id="Data-organizacji-wydarzenia-1.1.1.3"><span class="toc-item-num">1.1.1.3&nbsp;&nbsp;</span>Data organizacji wydarzenia</a></span></li><li><span><a href="#Cena-biletów" data-toc-modified-id="Cena-biletów-1.1.1.4"><span class="toc-item-num">1.1.1.4&nbsp;&nbsp;</span>Cena biletów</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Wczytanie-całosci" data-toc-modified-id="Wczytanie-całosci-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Wczytanie całosci</a></span></li><li><span><a href="#Zapis" data-toc-modified-id="Zapis-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Zapis</a></span></li></ul></div>

# Wydobywanie pożądanych cechy do zastosowania w procesie segmentacji wyszukania grup podobnych wydarzeń

## E. Drugi obieg biletów – analiza dostępności biletów w drugim obiegu i korelacja cen wyjściowych do wartości biletów w drugim obiegu

In [5]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Wczytanie pobranych ofert z portali

### Analiza wartościowa eventów oraz dostępności biletów wraz z analizą porównawczą dla eventów wyprzedanych z podziałem na:

Wczytanie danych z RW

#### Wartość wydarzenia

#### Dostępność sektorów

#### Data organizacji wydarzenia

#### Cena biletów

# Wczytanie całosci

In [6]:
df_E = pd.read_csv("2021-06-30_E_drugi_obieg_biletow_pkt_1.csv")
df_E.columns = [ "E_" + i if i != "events_id" else i for i in df_E.columns ]
df_E[:3]

,events_id,E_sum_cen_biletow_z_rynku_w,E_srednia_cena_biletow_z_rynku_w,E_liczba_biletow_z_rynku_w,E_dostepne_sektory
0,336260,330,10,33,event z jadną głowna salą
1,316437,280,10,28,event z jadną głowna salą
2,309752,110,55,2,event bez numerowanych miejsc

# Zapis

In [9]:
df_E.to_csv("2021-06-30_E_drugi_obieg_biletow.csv", index=False)

In [10]:
pd.read_csv("2021-06-30_E_drugi_obieg_biletow.csv")

,events_id,E_sum_cen_biletow_z_rynku_w,E_srednia_cena_biletow_z_rynku_w,E_liczba_biletow_z_rynku_w,E_dostepne_sektory
0,336260,330,10,33,event z jadną głowna salą
1,316437,280,10,28,event z jadną głowna salą
2,309752,110,55,2,event bez numerowanych miejsc
3,332770,1150,50,23,event z jadną głowna salą
4,388519,405,15,27,event z jadną głowna salą
...,...,...,...,...,...
1605,330427,1330,70,19,event z jadną głowna salą
1606,309925,500,20,25,event z jadną głowna salą
1607,312996,0,0,0,event z jadną głowna salą
1608,270394,6225,15,415,event z jadną głowna salą
1609,337598,0,0,0,event z jadną głowna salą